footer.footer
    .section_in
        .footer__contact
            .footer__title
                h2 контакты 
            .footer__text Служба поддержки: 24/7
            .footer__item 
                img(src="../i/icons/icon-phone.svg", alt="")
                a(href="tel:+79773920000") +7(977)392-00-00
            .footer__item-mess
                .footer__messenger
                    a(href="#") 
                        img(src="../i/icons/telega.svg", alt="")
                .footer__messenger
                    a(href="#") 
                        img(src="../i/icons/whhatsapp.svg", alt="")

