footer.footer
    .navFooter 
        ul.navFooter__list 
            p Услуги
            .navFooter__box
                li.navFooter__item 
                    a(href="arenda-techniki.html")  Аренда техники
                li.navFooter__item 
                    a(href="constructBuild.html")  Строительство зданий
                li.navFooter__item 
                    a(href="dostavkaMaterialov.html")  Доставка сыпучих материалов
                li.navFooter__item 
                    a(href="industrialConstruction.html")  Промышленное строительство
                li.navFooter__item 
                    a(href="roadСonstruction.html")  Строительство дорог

        ul.navFooter__list 
            p контакты
            .navFooter__box
                li.navFooter__item
                    .navFooter__item-contact
                        img(src="../i/icons/icon-phone-white.svg", alt="")
                        a(href="#") (8202) 59-88-99
                    .navFooter__item-contact
                        img(src="../i/icons/icon-phone-white.svg", alt="")
                        a(href="#") 8(951)731-08-40
                    .navFooter__item-contact
                        img(src="../i/icons/icon-map-white.svg", alt="")
                        p г. Череповец, ул.Стройиндустрии, д. 13
                    .navFooter__item-contact
                        img(src="../i/icons/icon-mail.svg", alt="")
                        a(href="mailto:dskvektor@mail.ru") dskvektor@mail.ru
                        

        ul.navFooter__list 
            p.navFooter__titleRight меню
            .navFooter__box.navFooter__titleRigh
                li.navFooter__item 
                    a(href="index.html")  Главная
                li.navFooter__item 
                    a(href="about.html")  О компании
                li.navFooter__item 
                    a(href="objects.html")  Объекты
                li.navFooter__item 
                    a(href="arenda-techniki.html")  Аренда техники
                li.navFooter__item 
                    a(href="contacts.html")  Контакты
    
    .navFooter__line 
        .navFooter__footer
            .navFooter__footerText 
                p Авторское право © 2016.
            .navFooter__footerText-copyright 
                p Все права защищены. Строительная компания "Вектор"


    