header 
	.navbar.fixed-top
		.section_in
			.navbar-container.container
				input(type="checkbox" name="" id="")
				.hamburger-lines
					span.line.line1
					span.line.line2
					span.line.line3

				.logo-icon.logo-icon-desc
					a(href="index.html") 
						.logo-icon__img
							img(src="i/icons/logo.svg", alt="")
				
				ul.menu-items.menu-toggle-open
					li.navItem
						a(href="index.html") Главная
					li.navItem
						a(href="about.html") О нас
					li.navItem
						a(href="#") Услуги
						ul.navItem__submenu
							li.navItem__submenu-item 
								a(href="arenda-techniki.html") Аренда техники
							li.navItem__submenu-item 
								a(href="constructBuild.html") Строительство зданий
							li.navItem__submenu-item 
								a(href="dostavkaMaterialov.html") Доставка сыпучих материалов
							li.navItem__submenu-item 
								a(href="industrialConstruction.html") Промышленное строительство
							li.navItem__submenu-item 
								a(href="roadСonstruction.html") Строительство дорог
					li.navItem
						a(href="objects.html") Объекты
					li.navItem
						a(href="arenda-techniki.html") Аренда техники
						ul.navItem__submenu
							li.navItem__submenu-item 
								a(href="arenda-samosval.html") Аренда самосвала 
							li.navItem__submenu-item 
								a(href="arendaTreiler.html") Аренда трейлера 
							li.navItem__submenu-item 
								a(href="arendaKatki.html") Аренда катков 
							li.navItem__submenu-item 
								a(href="arendaBuldozer.html") Аренда бульдозера 
							li.navItem__submenu-item 
								a(href="arendaComerc.html") Аренда легкового коммерческого транспорта 
							li.navItem__submenu-item 
								a(href="arendaExkavvator.html") Аренда экскаватора
							li.navItem__submenu-item 
								a(href="arendaFrontPogruzchik.html") Аренда фронтального погрузчика 
							li.navItem__submenu-item 
								a(href="arendaSpecTeh.html") Аренда спецтехники
					li.navItem
						a(href="prezentation.html") Презентация
					li.navItem
						a(href="contacts.html") Контакты

					.phoneBox.phoneBox-mobile
						.phoneBox__item
							.phoneBox__item-tel
								img(src="i/icons/icon-phone.svg", alt="")
								a(href="tel:8202598899") (8202)59-88-99
								
							.phoneBox__item-tel
								img(src="i/icons/icon-phone.svg", alt="")
								a(href="tel:+79517310840") 8(951)731-08-40

				.phoneBox.phoneBox-desck 
					.phoneBox__item
						.phoneBox__item-tel
							img(src="i/icons/icon-phone.svg", alt="")
							a(href="tel:8202598899") (8202)59-88-99
							
						.phoneBox__item-tel
							img(src="i/icons/icon-phone.svg", alt="")
							a(href="tel:+79517310840") 8(951)731-08-40

