header 
	.navbar.fixed-top
		.section_in
			.navbar-container.container
				input(type="checkbox" name="" id="")
				.hamburger-lines
					span.line.line1
					span.line.line2
					span.line.line3

				.logo-icon.logo-icon-desc
					a(href="index.html") 
						.logo-icon__img
							img(src="i/icons/logo.svg", alt="")
				
				ul.menu-items.menu-toggle-open
					li.navItem
						a(href="index.html") Причины
					li.navItem
						a(href="about.html") Решения
					li.navItem
						a(href="#") Мнение экспертов
					li.navItem
						a(href="objects.html") Наша команда
					li.navItem
						a(href="arenda-techniki.html") Контакты
