        html {
            overflow-x: hidden;
        }
        
        body {
            overflow-x: hidden;
        }
        
        .main {
            &__img-bg {
                position: relative;
            }
        }
        
        .arrow {
            position: absolute;
            z-index: 9;
            bottom: 7%;
            left: 50%;
            transform: translate(0%, -50%);
            cursor: pointer;
        }
        
        .prev2 {
            margin-left: -100px;
        }
        
        .slider-banner {
            &__item1 {
                background-image: url(../i/banner-slide1.jpg);
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__item2 {
                background-image: url(../i/banner-slide2.jpg);
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__item3 {
                background-image: url(../i/banner-slide3.jpg);
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__item4 {
                background-image: url(../i/banner-slide4.jpg);
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__item5 {
                background-image: url(../i/banner-slide5.jpg);
                height: 100vh;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        
        .itemBlock {
            // margin-top: 8%;
            @include bp($point_2) {
                margin-top: 30%;
            }
            @include bp($point_5) {
                margin-top: 65%;
            }
        }
        
        .aboutCompany-block {
            &__row {
                display: flex;
                justify-content: space-between;
                @include bp($point_3) {
                    flex-direction: column;
                }
            }
            &__box {
                width: 60%;
                display: flex;
                align-items: flex-end;
                @include bp($point_2) {
                    flex-direction: column;
                    align-items: flex-start;
                }
                @include bp($point_3) {
                    order: 2;
                    margin-top: 40px;
                }
                @include bp($point_3) {
                    width: 100%;
                }
            }
            &__text {
                margin-left: 9rem;
                @include bp($point_2) {
                    margin-left: 0rem;
                }
            }
        }
        
        .titleBlock {
            display: flex;
            align-items: center;
            @include bp($point_3) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
            &__lines {
                margin-right: 14px;
                margin-left: 14px;
                background-color: $yellow;
                width: 100px;
                height: 4px;
                @include bp($point_3) {
                    order: 2;
                }
                @include bp($point_3) {
                    width: 80px;
                }
                @include bp($point_3) {
                    margin-top: 5px;
                    margin-left: 0px;
                }
            }
            &__positionRight {
                text-align-last: right;
                @include bp($point_3) {
                    text-align-last: left;
                }
            }
        }
        
        .textStart p {
            font-size: 2.8rem;
            font-family: $font_4;
            @include bp($point_5) {
                font-size: 2.4rem;
            }
        }
        
        .textIndention p {
            margin-top: 2.2rem;
            font-family: $font_3;
            font-size: 1.8rem;
            line-height: 122%;
        }
        
        .textSignature {
            margin-top: 3.5rem;
            p {
                font-family: $font_3;
                span {
                    font-family: $font_4;
                }
            }
        }
        
        .indentation {
            margin-top: 100px;
            &__page {
                margin-top: 60px;
            }
            @include bp($point_5) {
                margin-top: 50px;
            }
        }
        
        .advantages {
            margin-top: 10rem;
            @include bp($point_3) {
                margin-top: 5rem;
            }
            &__row {
                display: flex;
                justify-content: space-between;
                @include bp($point_3) {
                    flex-direction: column;
                }
            }
            &__col {
                display: flex;
                align-items: center;
                @include bp($point_3) {
                    margin-bottom: 25px;
                }
            }
            &__figure {
                font-size: 4.2rem;
                margin-right: 1.6rem;
            }
            &__text {
                font-size: 2rem;
                text-transform: uppercase;
            }
        }
        
        .col-center::after {
            margin-left: 9.5rem;
            content: '';
            height: 55px;
            width: 1px;
            background-color: #8A8A8A;
            @include bp($point_2) {
                margin-left: 2.5rem;
            }
            @include bp($point_3) {
                display: none;
            }
        }
        
        .col-center::before {
            margin-right: 9.5rem;
            content: '';
            height: 55px;
            width: 1px;
            background-color: #8A8A8A;
            @include bp($point_2) {
                margin-right: 2.5rem;
            }
            @include bp($point_3) {
                display: none;
            }
        }
        
        .services-block {
            &__row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                @include bp($point_2) {
                    flex-wrap: wrap;
                }
                &-indentation {
                    margin-top: 15px;
                }
            }
            &__indentation {
                margin-top: 4.2rem;
            }
            &__col1 {
                width: 66.2%;
                @include bp($point_2) {
                    width: 480px;
                }
                @include bp($point_5) {
                    width: 480px;
                }
            }
            &__img1 {
                position: relative;
                background-image: url(../i/services1.jpg);
                background-size: cover;
                height: 40rem;
                background-repeat: no-repeat;
                background-position: center;
            }
            &__img2 {
                position: relative;
                background-image: url(../i/services2.jpg);
                width: 48rem;
                height: 40rem;
                background-repeat: no-repeat;
                background-size: cover;
                @include bp($point_5) {
                    max-width: 282px;
                }
            }
            &__img3 {
                position: relative;
                background-image: url(../i/services3.jpg);
                width: 48rem;
                height: 40rem;
                background-repeat: no-repeat;
                background-size: cover;
                @include bp($point_5) {
                    max-width: 282px;
                }
            }
            &__img4 {
                position: relative;
                background-image: url(../i/services4.jpg);
                width: 48rem;
                height: 40rem;
                background-repeat: no-repeat;
                background-size: cover;
                @include bp($point_5) {
                    max-width: 282px;
                }
            }
            &__img5 {
                position: relative;
                background-image: url(../i/services5.jpg);
                width: 48rem;
                height: 40rem;
                background-repeat: no-repeat;
                background-size: cover;
                @include bp($point_5) {
                    max-width: 282px;
                }
            }
            &__title {
                position: absolute;
                top: 0;
                h3 {
                    padding-top: 3rem;
                    padding-left: 3.5rem;
                    @include bp($point_5) {
                        padding-left: 1.5rem;
                    }
                }
            }
        }
        
        .services-block__col2-mobile {
            @include bp($point_2) {
                margin-top: 20px !important;
            }
        }
        
        .titleBlock-floatRight {
            float: right;
            margin-top: -15rem;
            @include bp($point_3) {
                margin-top: -12rem;
                float: left;
            }
        }
        
        .phoneBox-mobile {
            display: none;
            @include bp($point_4) {
                display: block;
            }
        }
        
        .project-block {
            &__row {
                margin-top: 30rem;
                display: flex;
                justify-content: space-between;
                @include bp($point_2) {
                    flex-wrap: wrap;
                }
                @include bp($point_4) {
                    margin-top: 20rem;
                }
            }
            &__text {
                margin-top: 2.4rem;
                font-size: 1.8rem;
                color: #000;
                font-family: $font_4;
                @include bp($point_5) {
                    margin-top: 2rem;
                }
            }
            &__item {
                margin-right: 20px;
                @include bp($point_5) {
                    margin-bottom: 30px;
                }
            }
            &__img img {
                width: 100%;
                width: 320px;
                @include bp($point_5) {
                    max-width: 282px;
                }
            }
            // @include bp($point_0) {
            // }
        }
        
        .projectsPage__item {
            margin-top: 6rem;
            @include bp($point_5) {
                margin-top: 4rem;
            }
        }
        
        .projectsPage__row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include bp($point_3) {
                justify-content: flex-start;
            }
            @include bp($point_4) {
                justify-content: center;
            }
        }
        
        .arrow-black {
            position: absolute;
            z-index: 9;
            top: 50%;
            cursor: pointer;
        }
        
        .next3 {
            right: 0;
        }
        
        .prev3 {
            left: -4%;
        }
        
        .partners-block {
            &__row {
                margin-top: 6rem;
            }
            &__list {
                margin-left: 4%;
            }
            &__item {
                @include bp($point_4) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        
        .slick-slide img {
            @include bp($point_5) {
                width: 100%;
            }
        }
        
        .arrow-black {
            @include bp($point_5) {
                display: none;
            }
        }
        
        .aboutPage {
            &__blockText {
                margin-top: 3.8rem;
                @include bp($point_5) {
                    margin-top: 0rem;
                }
            }
            &__text {
                width: 30%;
                @include bp($point_2) {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    width: 70%;
                }
                @include bp($point_5) {
                    width: 100%;
                    padding-right: 0rem;
                    padding-left: 0rem;
                }
            }
            &__item-text {
                font-family: $font_4;
            }
            &__text-center {
                margin: auto;
            }
            &__text-mobile {
                padding-right: 2rem;
                padding-left: 2rem;
            }
        }
        
        .aboutPage__text p {
            font-family: $font_6;
        }
        
        .aboutPage__text p span {
            font-family: $font_1;
        }
        
        .advantagesBlock {
            padding-right: 30rem;
            padding-left: 30rem;
            padding-bottom: 175px;
            margin-top: -10%;
            background-image: url(../i/block-aboutCompany2.png);
            @include bp($point_2) {
                background-image: url(../i/block-aboutCompany-mobile.png);
                margin-top: 0%;
                padding-bottom: 40px;
                background-size: cover;
                padding-right: 5rem;
                padding-left: 5rem;
            }
            @include bp($point_2) {
                padding-right: 2rem;
                padding-left: 2rem;
            }
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            &__item {
                padding-top: 20px;
                max-width: 35rem;
                width: 100%;
                height: 20rem;
                @include bp($point_2) {
                    margin-bottom: 20px;
                }
                &-borderOne {
                    border: 1px solid #FFFFFF;
                    border-radius: 30px 0px 0px 0px;
                    @include bp($point_2) {
                        border-radius: 0px;
                    }
                }
            }
            &__item-text {
                margin-top: 2.6rem;
            }
            &__item-borderThree {
                border: 1px solid #FFFFFF;
                border-radius: 0px 30px 0px 0px;
                @include bp($point_2) {
                    border-radius: 0px;
                }
            }
            &__item-borderFour {
                border: 1px solid #FFFFFF;
                border-radius: 0px 0px 0px 30px;
                @include bp($point_2) {
                    border-radius: 0px;
                }
            }
            &__item-borderSix {
                border: 1px solid #FFFFFF;
                border-radius: 0px 0px 30px 0px;
                @include bp($point_2) {
                    border-radius: 0px;
                }
            }
            &__item-border {
                border: 1px solid #FFFFFF;
            }
            &__title {
                padding-top: 30rem;
                margin: auto;
                width: 50%;
                text-align: center;
                font-family: $font_6;
                color: #fff;
                @include bp($point_2) {
                    width: 100%;
                    padding-top: 5rem;
                    padding-bottom: 30px;
                }
            }
            &__list {
                padding-top: 6rem;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @include bp($point_2) {
                    justify-content: center;
                    padding-top: 0rem;
                }
            }
            &__item-num {
                text-align: center;
                color: $yellow;
                font-size: 2.3rem;
            }
            &__item-text {
                text-align: center;
                color: #fff;
            }
        }
        
        .calcBlock {
            margin-top: 60px;
            background-image: url(../i/calculator-bg.jpg);
            background-size: cover;
            background-position: center;
            &__row {
                display: flex;
                justify-content: space-between;
                @include bp($point_5) {
                    flex-direction: column;
                }
            }
            &__col {
                margin-top: 3.8rem;
                width: 45%;
                @include bp($point_5) {
                    width: 100%;
                }
            }
            &__ttitle {
                padding-top: 4.7rem;
                color: #fff;
                text-align: center;
                font-size: 2.8rem;
                text-transform: uppercase;
            }
            &__titleCol {
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 19px;
                padding-right: 19px;
                background-color: #F3C60A;
                text-transform: uppercase;
                font-size: 1.8rem;
                margin-bottom: 2.7rem;
                @include bp($point_5) {
                    text-align: center;
                }
            }
            &__titleCol-textRight {
                text-align: right;
                @include bp($point_5) {
                    text-align: center;
                }
            }
            &__box {
                margin-left: 40%;
                width: 60%;
                display: flex;
                flex-direction: column;
                text-align: flex-end;
                @include bp($point_3) {
                    margin-left: 10%;
                    width: 80%;
                }
            }
            &__box-right {
                width: 60%;
                display: flex;
                flex-direction: column;
                text-align: flex-end;
                @include bp($point_3) {
                    width: 80%;
                    margin: auto;
                }
            }
            &__input {
                padding-left: 10px;
                margin-top: 5px;
                // padding-left: 10px;
                height: 5rem;
                border-radius: 20px;
                border: none;
            }
            &__inputTitle {
                color: #fff;
                font-family: $font_6;
            }
            &__inputTitle {
                margin-top: 2rem;
            }
            &__button {
                margin-top: 3.3rem;
                background-color: $yellow;
                width: 21rem;
                height: 6rem;
                border-radius: 30px;
                font-family: $font_1;
            }
            &__footer {
                padding-top: 4.8rem;
                padding-bottom: 6.6rem;
                color: #fff;
                text-align: center;
                font-size: 1.4rem;
                font-family: $font_6;
                width: 60%;
                margin: auto;
                @include bp($point_3) {
                    width: 90%;
                }
            }
        }
        
        #stoimost {
            margin-top: 20px;
            color: #fff;
            font-size: 1.8rem;
        }
        
        #material {
            margin-top: 5px;
            padding-right: 20px;
            border: none;
            padding-left: 10px;
            height: 5rem;
            border-radius: 20px;
            cursor: pointer;
            background-color: #fff;
            // background: url(../i/icons/arrow-select.svg) no-repeat right;
        }
        
        .table-wrap {
            margin-top: 2.5rem;
            text-align: center;
            display: inline-block;
            background-color: #fff;
            color: #000;
        }
        
        table {
            border: 1px solid #ccc;
            width: 100%;
            margin: 0;
            padding: 0;
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        table tr {
            border: 1px solid #ddd;
            padding: 5px;
        }
        
        table th,
        table td {
            padding: 10px;
            text-align: center;
            border-right: 1px solid #ddd;
            font-size: 1.4rem;
            font-family: $font_3;
            text-align: left;
        }
        
        table th {
            color: #000;
            background-color: $yellow;
            font-size: 1.4rem;
            text-align: left;
            font-family: $font_4;
        }
        
        @media screen and (max-width: 600px) {
            table {
                border: 0;
            }
            table thead {
                display: none;
            }
            table tr {
                margin-bottom: 10px;
                display: block;
                border-bottom: 2px solid #ddd;
            }
            table td {
                display: block;
                text-align: right;
                font-size: 13px;
                border-bottom: 1px dotted #ccc;
                border-right: 1px solid transparent;
            }
            table td:last-child {
                border-bottom: 0;
            }
            table td:before {
                content: attr(data-label);
                float: left;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        
        .priceBlock {
            margin-top: 7.3rem;
            &__title {
                font-size: 2.8rem;
            }
            &__text {
                margin-top: 8px;
                font-size: 1.5rem;
                font-family: $font_3;
            }
        }
        
        .object-newPage {
            background-image: url(../i/new_objects/new1/bg-poinnt.png);
            background-position: center;
            background-size: contain;
            &__bg {
                padding-top: 65rem;
                background-image: url(../i/new_objects/new1/main-img.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                @include bp($point_4) {
                    padding-top: 35rem;
                }
            }
            &__ttitle {
                padding-bottom: 15rem;
                width: 70%;
                font-size: 4.2rem;
                color: #fff;
                text-transform: uppercase;
                @include bp($point_4) {
                    padding-bottom: 10rem;
                    font-size: 2.4rem;
                    width: 100%;
                }
            }
        }
        
        .newPost {
            &__advant {
                margin-top: 7.7rem;
                @include bp($point_6) {
                    margin-top: 3rem;
                }
            }
            &__img {
                margin-top: 12rem;
                @include bp($point_4) {
                    margin-top: 3rem;
                }
            }
            &__textimg {
                font-size: 1.5rem;
                font-family: $font_4;
                text-align: center;
                margin-top: 5rem;
                padding-bottom: 2.8rem;
                border-bottom: 1px solid #B5B5B5;
            }
            &__img img {
                width: 100%;
            }
            &__figure {
                color: $yellow;
                @include bp($point_4) {
                    text-align: center;
                }
            }
            &__text {
                margin-top: 2.5rem;
                font-size: 1.8rem;
                font-family: $font_3;
                @include bp($point_4) {
                    text-align: center;
                }
            }
            &__col {
                position: relative;
                @include bp($point_4) {
                    margin-top: 3rem;
                }
            }
            &__col-center::after {
                content: '';
                top: 0;
                left: -50%;
                position: absolute;
                height: 135px;
                width: 1px;
                background-color: #B5B5B5;
                @include bp($point_2) {
                    left: -30%;
                }
                @include bp($point_4) {
                    display: none;
                }
            }
            &__col-center::before {
                content: '';
                top: 0;
                right: -50%;
                position: absolute;
                height: 135px;
                width: 1px;
                background-color: #B5B5B5;
                @include bp($point_2) {
                    left: 120%;
                }
                @include bp($point_4) {
                    display: none;
                }
            }
        }
        
        .postBlock {
            margin-top: 13rem;
            @include bp($point_4) {
                margin-top: 0rem;
            }
            &__row {
                margin-top: 8.8rem;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                @include bp($point_4) {
                    margin-top: 3rem;
                }
            }
            &__text-img {
                margin-top: 13px;
                font-size: 1.5rem;
                font-family: $font_3;
            }
            &__text-img {
                text-align: center;
                font-family: $font_3;
                @include bp($point_6) {
                    margin: 10px auto;
                    width: 80%;
                }
            }
            &__text-img span {
                font-family: $font_1;
            }
            &__text {
                font-size: 1.8rem;
                font-family: $font_3;
                @include bp($point_6) {
                    font-size: 1.6rem;
                }
            }
            &__col-other {
                width: 50%;
                padding-left: 6.5rem;
                padding-right: 6.5rem;
                height: 249px;
                display: flex;
                align-items: flex-end;
                @include bp($point_4) {
                    width: 100%;
                }
                @include bp($point_6) {
                    padding-left: 0rem;
                    padding-right: 0rem;
                    height: 280px;
                    align-items: center;
                    text-align: center;
                    height: 100%;
                }
            }
            // &__text-mobile {
            //     margin-top: -20rem;
            // }
            &__center {
                margin-top: 8.8rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                @include bp($point_6) {
                    margin-top: 0rem;
                }
                &-text {
                    width: 50%;
                    @include bp($point_6) {
                        width: 100%;
                        margin-top: 2rem;
                        font-size: 1.6rem;
                    }
                }
                @include bp($point_6) {
                    // margin-top: 3rem;
                }
            }
        }
        
        .decorText {
            &__style {
                margin-top: 6.2rem;
                text-align: center;
            }
            &__style img {
                width: 70%;
            }
        }
        
        .advantages__row-mobile {
            @include bp($point_4) {
                align-items: center;
            }
        }
        
        .arendaTechniki {
            &__block {
                margin-top: 4rem;
            }
            &__row {
                margin-top: 2.8rem;
                display: flex;
                justify-content: space-between;
                @include bp($point_3) {
                    margin-top: 0rem;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                // flex-wrap: wrap;
            }
            &__row-end {
                justify-content: flex-start;
                @include bp($point_3) {
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
            &__item {
                // margin-right: 20px;
                margin-right: 7%;
                @include bp($point_0) {
                    margin-right: 1%;
                }
                @include bp($point_3) {
                    margin-bottom: 20px;
                    margin-right: 0%;
                }
            }
            &__item-img {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 387px;
            }
            &__item-img img {
                width: 387px;
            }
            &__item-text {
                position: absolute;
                text-align: center;
                // transform: translate(-50%, -50%);
                color: #fff;
                font-size: 2.8rem;
                text-transform: uppercase;
            }
        }
        
        select {
            appearance: none;
            background: url(../i/icons/arrow-select.svg) no-repeat right;
            background-position-x: calc(100% - 8px);
        }
        
        .contactForm {
            padding: 50px;
            margin-top: 100px;
            background-image: url(../i/contact-form.png);
            background-size: cover;
            border-radius: 30px;
            @include bp($point_6) {
                padding: 25px 15px;
                margin-top: 50px;
            }
            &__row {
                display: flex;
                justify-content: space-between;
                @include bp($point_3) {
                    flex-direction: column;
                }
            }
            &__title {
                // position: relative;
                font-size: 2.8rem;
                text-transform: uppercase;
                color: #fff;
                @include bp($point_6) {
                    text-align: center;
                    font-size: 2.4rem;
                }
            }
            &__title::after {
                // position: absolute;
                content: '';
                display: block;
                width: 22%;
                height: 1px;
                background-color: #fff;
                @include bp($point_3) {
                    width: 45%;
                }
                @include bp($point_6) {
                    width: 90%;
                    margin: auto;
                }
            }
            .inputStyle {
                width: 100%;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                width: 58rem;
                height: 6rem;
                border-radius: 15px;
                border: none;
                background: transparent;
                border: 1px solid #fff;
                color: #fff;
                padding-left: 14px;
                @include bp($point_5) {
                    width: 100%;
                }
                &__message {
                    padding-top: 20px;
                    padding-bottom: 170px;
                }
            }
            .inputStyle::placeholder {
                // padding-left: 14px;
                color: #fff;
                font-size: 1.8remf;
            }
            &__col {
                // padding-right: 2;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @include bp($point_3) {
                    align-items: flex-start;
                }
                @include bp($point_6) {
                    align-items: center;
                }
            }
            &__col-border::after {
                position: absolute;
                right: -40%;
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                background-color: #fff;
            }
        }
        
        .rightCol {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            @include bp($point_3) {
                margin-top: 50px;
                width: 100%;
                justify-content: flex-start;
            }
            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 4rem;
                width: 259px;
                height: 60px;
                font-size: 1.8rem;
                border: 1px solid #fff;
                border-radius: 30px;
                cursor: pointer;
                color: #fff;
            }
        }
        
        .rightCol p {
            font-size: 2.2rem;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
        }
        
        .contacts {
            margin-top: 20px;
            &__textName {
                margin-top: 4rem;
                font-size: 1.8rem;
                @include bp($point_5) {
                    margin-top: 1rem;
                }
            }
            &__row {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            &__text {
                margin-top: 10px;
                display: flex;
                align-items: flex-start;
                font-size: 1.8rem;
                font-family: $font_3;
            }
            &__text-mail {
                align-items: center;
            }
            &__text p {
                width: 70%;
                margin-left: 8px;
                @include bp($point_5) {
                    width: 100%;
                    font-size: 1.6rem;
                }
            }
            &__text a {
                margin-left: 8px;
                color: #000;
            }
            &__map {
                margin-top: 60px;
            }
        }
        
        .feedbackForm {
            &__title {
                margin-top: 4.5rem;
                font-size: 2.8rem;
                text-transform: uppercase;
            }
            &__form {
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include bp($point_5) {
                    width: 100%;
                }
            }
            &__input {
                padding-left: 14px;
                margin-top: 15px;
                border: 1px solid #4B4B4B;
                border-radius: 15px;
                height: 60px;
            }
            &__input-message {
                padding-top: 20px;
                padding-bottom: 150px;
            }
            &__box {
                margin-top: 22px;
                margin-bottom: 22px;
                display: flex;
                align-items: center;
                div {
                    margin-right: 10px;
                }
                label {
                    font-family: $font_3;
                }
            }
        }
        
        .presentation {
            &__pdf {
                margin-top: 60px;
            }
        }
        
        .arenda {
            &__block {
                margin-top: 40px;
            }
            &__row {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
            &__title {
                padding-left: 10px;
                padding-right: 10px;
                position: absolute;
                font-size: 2.8rem;
                text-transform: uppercase;
                color: #fff;
                font-family: $font_1;
                text-align: center;
                z-index: 9;
                @include bp($point_5) {
                    font-size: 2.4rem;
                }
            }
            &__title p {
                font-size: 1.6rem;
                text-transform: none;
                @include bp($point_5) {
                    font-size: 1.4rem;
                }
            }
            &__item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 22px;
                margin-right: 20px;
                width: 30%;
                position: relative;
                @include bp($point_3) {
                    width: 100%;
                }
            }
            &__item img {
                width: 100%;
                height: 100%;
                // height: 275px;
            }
            &__item::after {
                top: 0;
                position: absolute;
                display: block;
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(27, 12, 12, 0.49);
            }
        }
        
        .servicesPage {
            &__row {
                display: flex;
                margin-top: 10px;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            &__title {
                margin-top: 18px;
                font-size: 1.8rem;
                font-family: $font_4;
                @include bp($point_6) {
                    margin-top: 5px;
                }
            }
            &__item {
                margin-top: 55px;
                width: 32%;
                @include bp($point_6) {
                    width: 100%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            &__item div img {
                width: 100%;
            }
        }