        html {
            overflow-x: hidden;
        }
        
        body {
            overflow-x: hidden;
        }
        
        .main {
            background-image: url(../i/bg.jpg);
        }