extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	section.home 
		.section_in
			.aboutPage.indentation 
				.titleBlock 
					h2 О компании
					.titleBlock__lines
				.aboutPage__blockText
					.aboutPage__text 
						p Строительная компания «СК «Вектор» начала свою деятельность в <span> 2004 году. </span>

				.aboutPage__blockText
					.aboutPage__text.aboutPage__text-center 
						p <span> Основные ценности </span> нашей компании – качество выполняемых работ и строгое соблюдение сроков.

		.advantagesBlock 
			.advantagesBlock__title 
				p Основная деятельность компании «СК «Вектор» сосредоточена на выполнении подрядных работ любой сложности по базовым направлениям отрасли:
			.advantagesBlock__list 	
				.advantagesBlock__item.advantagesBlock__item-borderOne 
					.advantagesBlock__item-num 01
					.advantagesBlock__item-text Промышленное <br> строительство
				.advantagesBlock__item.advantagesBlock__item-border
					.advantagesBlock__item-num 02
					.advantagesBlock__item-text Строительство <br> жилых зданий
				.advantagesBlock__item.advantagesBlock__item-borderThree
					.advantagesBlock__item-num 03
					.advantagesBlock__item-text Строительство <br> спортивных <br> сооружений
			.advantagesBlock__list
				.advantagesBlock__item.advantagesBlock__item-borderFour
					.advantagesBlock__item-num 04
					.advantagesBlock__item-text Энергетическое <br> строительство
				.advantagesBlock__item.advantagesBlock__item-border
					.advantagesBlock__item-num 05
					.advantagesBlock__item-text Строительство мостов, <br> тоннелей и <br> путепроводов, автодорог
				.advantagesBlock__item.advantagesBlock__item-borderSix
					.advantagesBlock__item-num 06
					.advantagesBlock__item-text Благоустройство <br> территории

				

		.aboutPage__text.aboutPage__text-center.aboutPage__text-mobile
			p Миссия нашей компании – быть лучшими на рынке строительного бизнеса, максимально качественно, быстро и доступно выполнять работу, стремясь к постоянному совершенствованию применяемых в строительстве технологий и, по требованию заказчика, использовать нестандартные подходы для выполнения поставленных задач .



