extends _layout
block content_block
    section
        .section_in
            .arenda.indentation__page
                .titleBlock
                    h2 АРЕНДА <br> экскаватора
                    .titleBlock__lines

                .arenda__block 
                    .arenda__row 
                        .arenda__item 
                            .arenda__title Doosan 
                                p  (V ковша 1 м3, вес 21.5т, глубина копки 6.62м)
                            img(src="../i/services/arenda/ekskavator/img-1.png", alt="")
                        .arenda__item 
                            .arenda__title Doosan W-160v
                                p (V ковша 1 м3, вес 14.8т, глубина копки 5.19м)
                            img(src="../i/services/arenda/ekskavator/img-2.png", alt="")
                        .arenda__item 
                            .arenda__title Fiat Kobelco
                                p (V ковша 1.5 м3, вес 29.1т, глубина копки 6.5м)
                            img(src="../i/services/arenda/ekskavator/img-3.png", alt="")
                        .arenda__item 
                            .arenda__title Hyundai W-170
                                p (V ковша 1 м3, вес 17.97т, глубина копки 6.32м)
                            img(src="../i/services/arenda/ekskavator/img-4.png", alt="")
                        .arenda__item 
                            .arenda__title Hitachi
                                p (V ковша 1,6 м3- 1,7 м3, вес 31.5т, глубина копки 8.18м)
                            img(src="../i/services/arenda/ekskavator/img-5.png", alt="")
                        .arenda__item 
                            .arenda__title CATERPILLAR 336
                                p (V ковша 2.2м3, вес 36.55т, глубина копки 8.09м)
                            img(src="../i/services/arenda/ekskavator/img-6.png", alt="")
                        .arenda__item 
                            .arenda__title NEW Holland
                                p (крабовый ход, сдвижная лопата)
                                p (вес 8.7т глубина копки 5.6м)
                            img(src="../i/services/arenda/ekskavator/img-7.png", alt="")
                
            .contactForm 
                .contactForm__title Форма заказа
                .contactForm__row
                    .contactForm__col.contactForm__col-border
                        form(action="#")
                            input(placeholder="Ваше имя").inputStyle 
                            input(placeholder="Ваш email").inputStyle 
                            input(placeholder="Ваш телефон").inputStyle 
                            input(placeholder="Сообщение").inputStyle.inputStyle__message 
                            .contactForm__button.button Отправить
                    .contactForm__col
                        .rightCol 
                            p Ознакомьтесь с нашими ценами 
                            .rightCol__button СКАЧАТЬ ПРАЙС    
            
