extends _layout
block content_block
    section
        .section_in
            .arenda.indentation__page
                .titleBlock
                    h2 АРЕНДА <br> ТРЕЙЛЕРА
                    .titleBlock__lines

                .arenda__block 
                    .arenda__row 
                        .arenda__item 
                            .arenda__title Витцо Челленджер
                                p (г/п 41т; Погрузочная высота 0.6м; Погрузочная палуба 6.7м)
                            img(src="../i/services/arenda/treiler/img-1.png", alt="")
                        .arenda__item 
                            .arenda__title Кассбохрер
                                p (г/п 56.7т; Погрузочная высота 0,92м; Погрузочная палуба 11.7м)
                            img(src="../i/services/arenda/treiler/img-2.png", alt="")
                        .arenda__item 
                            .arenda__title ТверьСтройМаш
                                p (г/п 40т; Погрузочная высота 0.86м; Погрузочная палуба 8м)
                            img(src="../i/services/arenda/treiler/img-3.png", alt="")
                        .arenda__item 
                            .arenda__title ТверьСтройМаш
                                p (г/п 30т; Погрузочная высота 0.86м; Погрузочная палуба 11.5м)
                            img(src="../i/services/arenda/treiler/img-4.png", alt="")
                      

            .contactForm 
                .contactForm__title Форма заказа
                .contactForm__row
                    .contactForm__col.contactForm__col-border
                        form(action="#")
                            input(placeholder="Ваше имя").inputStyle 
                            input(placeholder="Ваш email").inputStyle 
                            input(placeholder="Ваш телефон").inputStyle 
                            input(placeholder="Сообщение").inputStyle.inputStyle__message 
                            .contactForm__button.button Отправить
                    .contactForm__col
                        .rightCol 
                            p Ознакомьтесь с нашими ценами 
                            .rightCol__button СКАЧАТЬ ПРАЙС    
            
