extends _layout
block content_block
	section.main
		.main__img-bg.slider-banner 
			.slider-banner__item1
				.section_in
					.itemBlock
						h1 Строительство <br> зданий и сооружений
						.button
							a(href="constructBuild.html") Подробнее
							div
								img(src="i/icons/arrow-up.svg", alt="")

			.slider-banner__item2
				.section_in
					.itemBlock
						h1 АРЕНДА ТЕХНИКИ
						.button
							a(href="arenda-techniki.html") Подробнее
							div
								img(src="i/icons/arrow-up.svg", alt="")
			.slider-banner__item3
				.section_in
					.itemBlock
						h1 ДОСТАВКА СЫПУЧИХ <br> МАТЕРИАЛОВ
						.button
							a(href="dostavkaMaterialov.html") Подробнее
							div
								img(src="i/icons/arrow-up.svg", alt="")
			.slider-banner__item4
				.section_in
					.itemBlock
						h1 Промышленное <br> строительство
						.button
							a(href="industrialConstruction.html") Подробнее
							div
								img(src="i/icons/arrow-up.svg", alt="")
			.slider-banner__item5
				.section_in
					.itemBlock
						h1 Строительство <br> дорог
						.button
							a(href="roadСonstruction.html") Подробнее
							div
								img(src="i/icons/arrow-up.svg", alt="")

		.section_in
			.aboutCompany-block.indentation 
				.aboutCompany-block__row 
					.aboutCompany-block__box
						.aboutCompany-block__img 
							img(src="i/img-Ivanov-D.jpg", alt="")
						.aboutCompany-block__text 
							.textStart 
								p Наша компания работает на рынке строительства уже более 10 лет. 
							.textIndention
								p За эти годы нами накоплен огромный и бесценный опыт строительных работ. Качество выполняемых работ и строгое соблюдение сроков – вот главные показатели имиджа нашего предприятия!
							.textSignature 
								p 
									span Иванов Денис Акиндинович 
								p Генеральный директор ООО «СК «Вектор»
					.aboutCompany-block__title
						.titleBlock 
							.titleBlock__lines 
							h2 О компании

			.advantages 
				.advantages__row 
					.advantages__col 
						.advantages__figure +10
						.advantages__text лет <br> на рынке
					
					.advantages__col.col-center 
						.advantages__figure +800 
						.advantages__text личных едениц <br> техники

					.advantages__col 
						.advantages__figure +200
						.advantages__text ГОТОВЫХ  <br> проектов
			
			.section_in
				.services-block.indentation 
					.titleBlock 
						h2 Услуги
						.titleBlock__lines
					.services-block__indentation 
						.services-block__row 
							.services-block__col1.services-block__col2-mobile
								.services-block__link 
									a(href="arenda-techniki.html")
										.services-block__img1
											.services-block__title
												h3 Аренда <br> техники
							.services-block__col2.services-block__col2-mobile
								.services-block__link 
									a(href="constructBuild.html")
										.services-block__img2
											.services-block__title
												h3 Строительство <br> зданий
						.services-block__row.services-block__row-indentation  
							.services-block__col2
								.services-block__link 
									a(href="dostavkaMaterialov.html")
										.services-block__img3
											.services-block__title
												h3 Доставка <br> сыпучих <br> материалов
							.services-block__col2.services-block__col2-mobile
								.services-block__link 
									a(href="ndustrialConstruction.html")
										.services-block__img4
											.services-block__title
												h3 Промышленное  <br> строительство
							.services-block__col2.services-block__col2-mobile
								.services-block__link 
									a(href="roadСonstruction.html")
										.services-block__img5
											.services-block__title
												h3 Строительство <br> дорог
			.section_in
				.project-block.indentation 
					.titleBlock.titleBlock-floatRight 
						.titleBlock__lines
						.titleBlock__positionRight 
							h2 реализованные <br> объекты
					.project-block__row 
						.project-block__item 
							a(href="#")
								.project-block__img 
									img(src="i/projects/main-project1.jpg", alt="") 
								.project-block__text Объект Рудгер <br> Северсталь

						.project-block__item 
							a(href="#")
								.project-block__img 
									img(src="i/projects/main-project2.jpg", alt="") 
								.project-block__text Тихвинский <br> вагоностроительный завод

						.project-block__item.mobile-indent 
							a(href="#")
								.project-block__img 
									img(src="i/projects/main-project3.jpg", alt="") 
								.project-block__text Прокладка <br> инженерных сетей
					.button
						a(href="#") Все объекты
						div
							img(src="i/icons/arrow-up.svg", alt="")

			.section_in
				.partners-block.indentation 
					.titleBlock 
						h2 партнеры
						.titleBlock__lines
					.partners-block__indentation 
						.partners-block__row 
							.partners-block__list 
								.partners-block__item 
									img(src="i/icons/partner1.svg", alt="")
								.partners-block__item 
									img(src="i/icons/partner2.svg", alt="")
								.partners-block__item 
									img(src="i/icons/partner3.svg", alt="")
								.partners-block__item 
									img(src="i/icons/partner4.svg", alt="")
								.partners-block__item 
									img(src="i/icons/partner5.svg", alt="")
