extends _layout
block content_block
    section
        .section_in
            .serviccesPage.indentation__page
                .titleBlock
                    h2 Промышленное <br> строительство
                    .titleBlock__lines
            .servicesPage__row 
                .servicesPage__item     
                    div     
                        img(src="../i/services/industrialConstruction/img-1.jpg", alt="") 
                    .servicesPage__title Камерный театр
                .servicesPage__item     
                    div     
                        img(src="../i/services/industrialConstruction/img-2.jpg", alt="") 
                    .servicesPage__title Торговый центр О'КЕЙ Череповец
                .servicesPage__item     
                    div     
                        img(src="../i/services/industrialConstruction/img-3.jpg", alt="") 
                    .servicesPage__title Торговый центр Лента Череповец
                .servicesPage__item     
                    div     
                        img(src="../i/services/industrialConstruction/img-4.jpg", alt="") 
                    .servicesPage__title Торговый центр Макси Череповец

            .contactForm 
                .contactForm__title Форма заказа
                .contactForm__row
                    .contactForm__col.contactForm__col-border
                        form(action="#")
                            input(placeholder="Ваше имя").inputStyle 
                            input(placeholder="Ваш email").inputStyle 
                            input(placeholder="Ваш телефон").inputStyle 
                            input(placeholder="Сообщение").inputStyle.inputStyle__message 
                            .contactForm__button.button Отправить
                    .contactForm__col
                        .rightCol 
                            p Ознакомьтесь с нашими ценами 
                            .rightCol__button СКАЧАТЬ ПРАЙС    
