extends _layout
block content_block
    section
        .object-newPage 
            .object-newPage__bg   
                .section_in
                    .object-newPage__ttitle В Череповце открылся обновленный участок набережной у Соборной горки
            .section_in
                .newPost 
                    .newPost__img 
                        img(src="../i/new_objects/new1/img-1.jpg", alt="")
                    .newPost__textimg Трещины, как и обещали, закрыли накладками

                .advantages.newPost__advant
                    .advantages__row.advantages__row-mobile 
                        .newPost__col 
                            .advantages__figure.newPost__figure 540 км 
                            .newPost__text Труб и коммуникаций <br> проложено
                        
                        .newPost__col.newPost__col-center
                            .advantages__figure.newPost__figure 1500 тыс.
                            .newPost__text Свай использовано для <br> берегоукрепления

                        .newPost__col  
                            .advantages__figure.newPost__figure 500 тыс.
                            .newPost__text Кубометров асфальта <br> уложено кубометров <br> асфальта уложено

                .postBlock
                    .postBlock__row 
                        .postBlock__col 
                            .postBlock__img 
                                img(src="../i/new_objects/new1/img-2.jpg", alt="")
                                .postBlock__text-img Такой набережная <span> была в апреле </span>
                           
                        .postBlock__col-other 
                            .postBlock__text 
                                p <span> Чтобы река Шексна не размывала берег </span>, первым делом строители возвели подпорную стенку высотой пять метров. Для этого понадобилось забить около <span> 1400 специальных свай </span>. Также на набережной обновлена система очистки воды и сделана новая ливневая канализация.
                        
                    .postBlock__row     
                        .postBlock__col-other
                            .postBlock__text.postBlock__text-mobile
                                p Вся территория вымощена плиткой, <span> построена велодорожка </span>, установлены красивые <span> парковые фонари </span> вместо стандартных столбов освещения, - рассказал мэр на странице в соцсети.
                        .postBlock__col 
                            .postBlock__img.postBlock__text-mobile 
                                img(src="../i/new_objects/new1/img-3.jpg", alt="")
                                .postBlock__text-img  <span> Обновленный участок </span> набережной

                    .postBlock__center 
                        .postBlock__center-img 
                            img(src="../i/new_objects/new1/img-4.jpg", alt="")
                        .postBlock__text-img Афанасий и Феодосий <span> во время ремонта </span>
                        .postBlock__text.postBlock__center-text
                            p Кроме того, к открытию специалисты <span> отреставрировали памятник </span> основателям города <span>  Афанасию и Феодосию.</span>

                    
                    .postBlock__row 
                        .postBlock__col 
                            .postBlock__img 
                                img(src="../i/new_objects/new1/img-5.jpg", alt="")
                                .postBlock__text-img Афанасий и Феодосий <span> после реставрации </span>
                           
                        .postBlock__col-other 
                            .postBlock__text 
                                p Дальнейшее строительство набережной по направлению к Октябрьскому мосту будет продолжено,<span> работы идут полным ходом.</span>
                    
                    .postBlock__center 
                        .postBlock__center-img 
                            img(src="../i/new_objects/new1/img-6.jpg", alt="")
                        .postBlock__text-img Набережная до <span> Октябрьского моста </span>
                        .postBlock__text.postBlock__center-text
                            p <span> Мэр Вадим Германов </span> позвал череповчан прийти всей семьей и оценить, как изменилось одно из любимых мест многих поколений. Территория благоустроена в рамках федерального проекта «Формирование комфортной городской среды».

                .decorText 
                    .decorText__style 
                        img(src="../i/new_objects/new1/decorText.svg", alt="")

                 
                  



