extends _layout
block content_block
    section
        .section_in
            .aboutPage.indentation__page
                .titleBlock
                    h2 оБЪЕКТЫ 
                    .titleBlock__lines
                .projectsPage
                    .projectsPage__row 
                        .project-block__item.projectsPage__item 
                            a(href="new-object.html")
                                .project-block__img 
                                    img(src="i/projects/obj-new1.jpg", alt="") 
                                .project-block__text Обновленный участок <br> набережной
                        .project-block__item.projectsPage__item 
                            a(href="#")
                                .project-block__img 
                                    img(src="i/projects/main-project1.jpg", alt="") 
                                .project-block__text Объект Рудгер <br> Северсталь

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/projects/main-project2.jpg", alt="") 
                                .project-block__text Тихвинский <br> вагоностроительный завод

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/projects/main-project3.jpg", alt="") 
                                .project-block__text Прокладка <br> инженерных сетей

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg1.jpg", alt="") 
                                .project-block__text Инженерные сети <br> Объект ТЦ "Лента"

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg2.jpg", alt="") 
                                .project-block__text БХО объект на территории <br> ОАО "ФосАгро"

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg3.jpg", alt="") 
                                .project-block__text Инженерные сети при <br> строительстве моста через <br> реку Ягорба

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg4.jpg", alt="") 
                                .project-block__text Просека в <br> лесополосе (СЕГ2)

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg5.jpg", alt="") 
                                .project-block__text Камерный театр (полный  <br> цикл строительства)

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg6.jpg", alt="") 
                                .project-block__text КС Новосиндорская
                    
                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg7.jpg", alt="") 
                                .project-block__text Лежневка (СЕГ2)

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg8.jpg", alt="") 
                                .project-block__text Северо-Европейский <br> газопровод 2 ветка

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg9.jpg", alt="") 
                                .project-block__text "Здание на ул. Боршодская"
                    
                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg10.jpg", alt="") 
                                .project-block__text Торговый центр <br> О'КЕЙ Череповец

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg11.jpg", alt="") 
                                .project-block__text Торговый центр <br> Макси Череповец

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg12.jpg", alt="") 
                                .project-block__text Торговый центр <br> Лента Череповец

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg13.jpg", alt="") 
                                .project-block__text Станция ПНС МУП Водоканал

                        .project-block__item.projectsPage__item  
                            a(href="#")
                                .project-block__img 
                                    img(src="i/objects/obg14.jpg", alt="") 
                                .project-block__text Здание на улице Ленина

                                
                    

                    