extends _layout
block content_block
    section
        .section_in
            .presentation.indentation__page
                .titleBlock
                    h2 Презентация
                    .titleBlock__lines
                .presentation__pdf
                    object(data="../i/SK-Vektor-3.pdf" type="application/pdf" width="80%" height="500px")
                .button
                    a(href="../i/SK-Vektor-3.pdf" download) Скачать PDF

            .contactForm 
                .contactForm__title Форма заказа
                .contactForm__row
                    .contactForm__col.contactForm__col-border
                        form(action="#")
                            input(placeholder="Ваше имя").inputStyle 
                            input(placeholder="Ваш email").inputStyle 
                            input(placeholder="Ваш телефон").inputStyle 
                            input(placeholder="Сообщение").inputStyle.inputStyle__message 
                            .contactForm__button.button Отправить
                    .contactForm__col
                        .rightCol 
                            p Ознакомьтесь с нашими ценами 
                            .rightCol__button СКАЧАТЬ ПРАЙС
        
            
